/*------------
    RESET 
------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*------------
    COMMON 
------------*/
.d-flex{
    display: flex;
}

.justify-sp-evenly{
    justify-content: space-evenly;
}

.f-bold{
    font-weight: bold;
}

.m-l-20{
    margin-left: 1.25rem;
}

.btn{
    background-color: transparent;
    border: 1px solid black;
    color: #b91450;
    background-color: #cccccc;
    padding: .3125rem .625rem;
    border-radius: .125rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2.1875rem .625rem 0 .625rem; 
}

.container {
    width: 62.5rem;
    margin: auto;
}

/*------------
  TYPOGRAPHY 
------------*/
body{
    background-color: black;
}

h1, h2{
    color: white;
    text-align: center;
    padding: .9375rem 0;
}

/*--------------
    HEADER
----------------*/
header {
    background-color: #E6E6E6;
    padding: .3125rem 0;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}

/*------------
    MAIN  
------------*/
main {
    display: flex;
    height: calc(100vh - 28.4px - 160px);
    overflow-y: auto;
    background-image: url("https://www.trenitalia.com/content/dam/tcom/restyling/homepage/1920x410/1920x410-ICG-Biciclette-11.jpg");
    background-size: cover;
    background-position: center;
}

main .container {
    background-color: rgba(185, 20, 80, 0.8);
}

.interface-generator{
    background-color: white;
    margin: 0 4.6875rem;
    margin-bottom: 1.875rem;
    border-radius: .625rem;
    padding: .9375rem 0;
    box-shadow: 7px -4px 13px -3px #000000;
}

.interface-generator span{
    display: block;
    color: #b91450;
    text-align: center;
    margin-bottom: .9375rem;
    font-weight: bold;
}

.interface-generator input{
    text-align: center;
}

.interface-generator input:focus, select:focus{
    outline-color: #b91450;
}

.interface-generator input, select{
    border: nones;
    border: 1px solid #b91450;
    padding: .3125rem .125rem;
    font-weight: bold;
}

.buttons-section{
    justify-content: center;
}

.info-container{
    margin: 0 1.25rem;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    height: 6.25rem;
}

.customer-name{
    background-color: #808080;
}

.ticket-details{
    justify-content: center;
    flex-grow: 1;
    justify-content: space-between;
}

.customer-name,
.ticket-details {
    padding: 1.25rem .9375rem;
}

#show-ticket .interface-generator{
    border-radius: 0;
}

/* PER FAR SCOMPARIRE IL BIGLIETTO GENERATO */
.ticket-d-none{
    display: none;
}

.ticket-details > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------
    FOOTER
----------------*/
footer{
    background: transparent linear-gradient(180deg,#b2b2b2 0,#444 100%);
    height: 160px;
    color: white;
}

footer .container{
    display: flex;
}

footer .container div{
    margin-right: 100px;
}

footer ul{
    list-style: none;
}

footer .follow-us{
    display: flex;
}

footer h2{
    text-align: left;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

footer ul li a i{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: .3125rem;
    min-width: 1.875rem;
    text-align: center;
    margin-right: .625rem;
}

/*--------------
    EFFECTS
----------------*/
nav ul a:hover{
    text-decoration: underline;
}