/*------------
    RESET 
------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*------------
    COMMON 
------------*/
.d-flex{
    display: flex;
}

.justify-sp-evenly{
    justify-content: space-evenly;
}

.f-bold{
    font-weight: bold;
}

.m-l-20{
    margin-left: 1.25rem;
}

.btn{
    background-color: transparent;
    border: 1px solid black;
    color: #b91450;
    background-color: #cccccc;
    padding: .3125rem .625rem;
    border-radius: .125rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2.1875rem .625rem 0 .625rem; 
}

/*------------
  TYPOGRAPHY 
------------*/
body{
    background-color: black;
}

h1, h2{
    color: white;
    text-align: center;
    padding: .9375rem 0;
}

/*------------
    MAIN  
------------*/
main {
    display: flex;
    height: 100vh;
}

.container {
    width: 62.5rem;
    margin: auto;
    background-color: #b91450;
}

.interface-generator{
    background-color: white;
    margin: 0 4.6875rem;
    margin-bottom: 1.875rem;
    border-radius: .625rem;
    padding: .9375rem 0;
    box-shadow: 7px -4px 13px -3px #000000;
}

.interface-generator span{
    display: block;
    color: #b91450;
    text-align: center;
    margin-bottom: .9375rem;
    font-weight: bold;
}

.interface-generator input{
    text-align: center;
}

.interface-generator input:focus, select:focus{
    outline-color: #b91450;
}

.interface-generator input, select{
    border: nones;
    border: 1px solid #b91450;
    padding: .3125rem .125rem;
    font-weight: bold;
}

.buttons-section{
    justify-content: center;
}

.info-container{
    margin: 0 1.25rem;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    height: 6.25rem;
}

.customer-name{
    background-color: #808080;
}

.ticket-details{
    justify-content: center;
    flex-grow: 1;
    justify-content: space-between;
}

.customer-name,
.ticket-details {
    padding: 1.25rem .9375rem;
}

#show-ticket .interface-generator{
    border-radius: 0;
}

/* PER FAR SCOMPARIRE IL BIGLIETTO GENERATO */
.ticket-d-none{
    display: none;
}

.ticket-details > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}